@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}
body
{
    width: 100%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.close
{
    position: absolute;
    top: 1em;
    right:2em;
    width: 2.5em;
    color:#fff;
    opacity: 0;
}
nav img{
    align-items: left;
    position: relative;
    margin: 1% 0 0 2em;
    width: 500px;
}
span img
{
    display:none;
}
nav{
    position: relative;
    width: 100%;
    display:flex;
    padding-top: 1%;
    z-index: 1;

}
nav ul{
    position: relative;
    list-style: none;
    margin-top: 1%;
    margin-left: 5em;
    width:67%;
    align-items: right;

}
nav ul li{
    margin-top: 2em;
    width: 170px;
    height: 35px;
    float:left;
    text-align: center;
    position:relative;
}

nav ul li a{
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0580bf;
    display: block;
    margin: auto;
    padding-bottom: 0;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
    
}
nav ul ul{
    display: none;
    transition: 1s;
    margin-left: 0;
}
nav ul li:hover > ul{
    margin-top: 1px;
    display: block;
    
}
nav ul li:hover > ul li{
    margin-top: 1px;
    padding-top: 4px;
    width: 170px;

}
.inv
{
    display: none;
}
    

.menu{
    position: absolute;
    top:3.4em;
    right: 2em;
    width: 1.8em;
    margin-top: -.6em;
    cursor: pointer;
    opacity: 0;
}

.open-nav
{

    transform: translateX(0%);
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 10px;
    font-size: 14px;
    color: #fff;
}
.text-box h5{
    margin: 5px 0 30px;
    font-size: 10px;
    color: #FF0000;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #0580bf;
    background: #0580bf;
    transition: 0.5s;
}





/*---------- course ------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 15px 10px 10px 10px;
}
p1{
    color: #777;
    font-size: 14px;
    font-weight: 800;
    line-height: 22px;
    padding: 5px 5px 5px 5px; 
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.kurzy{
    height:34em;
    flex-basis: 31%;
    background: #C2e5f3;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    padding-top: 10px;
}
.kurzy:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
summary{
    margin-left: 20%;
    width: 50%;
    padding: 1em;
    background: #C2e5f3;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: .3em;
    font-weight: bold;
    transition: background-color .3s;

   &:hover{
        background: #a2cddf;
   }
   &::marker{
       color:transparent;
   }
   &::-webkit-details-marker {
        background: url('dolu.svg') center no-repeat;
   }
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    from{
        opacity: 0; 
        transfrom: translateY(-10px);
    }
    to{
        opacity: 1;
        transfrom: translateY(0px);
    }
}
@media(max-width: 960px){
    .row{
        flex-direction: column;
    }
    summary{
        background: #a2cddf;;
    }
}
/*---------- novinky-------*/
.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.novinky{
    flex-basis: 50%;
    background: #C2e5f3;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    margin-left: 25%;
    box-sizing: border-box;
    transition: 0.5s;
}
.novinky:hover{
    box-shadow: 0 0 28px 0px rgba(0,0,0,0.5);
}
/*---------- fotogalerie-------*/

.fotogalerie{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.fotog-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.fotog-col img{
    width: 100%;
    display: block;
    cursor: pointe;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
     background: rgba(140, 197, 220, 0.6);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}
@media(max-width: 960px){
.fotog-col{
    height: 50%;
    width: 100%;
}
.layer{
    background: transparent;
    opacity: 1;
}
.layer h3{
    color: #447faf;
    bottom: 49%;
    opacity: 1;
    font-weight: bold;
    background: #fff;
    border:solid #fff;
    border-radius: 15px;
    width:18vh;
}
}
/*--------- vyuka-------*/
.vyuka{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.vyuka-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.vyuka-col img{
    position: relative;
    margin-top: 3vh;
    left: 5%;
    //padding: 15px 15px 15px 15px;
    width: 90%;
    border-radius: 10px;
}
.vyuka-col p{
    padding: 0;
    text-align: center;
    padding-bottom: 10px;
}
.vyuka-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
@media(max-width: 960px){
    .vyuka-col{
        border: solid #91d6f1;
    }
    .vyuka-col p{
        padding: 3vh;
    }
    .vyuka-col img{
        
        border-radius: 10px;
    }

}
/*----------recenze----------*/

.recenze{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.recenze-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left:5px;
    text-align: left;
    background: #C2e5f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.recenze-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.recenze-col p{
    padding: 0;
}
.recenze-col h3{
    margin-top: 15px;
    text-align: left;
}
.recenze-col .fa{
    color: #0d71a8;
}

/*------------ napiš recenzi ------*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/banner3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
}
@media(max-width: 960px){
    .cta h1{
        font-size: 16px;
    }
    br {
        display: none;
    }
}
/*------------ footer ------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 0px 0;
}
.footer h3{
    padding-top: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 510;
    
}
.icons .fa{
    color: #4299d0;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px 0px 50px 0px;
    transition: 0.7s;
    font-size: 50px;
}
.icons .fa:hover{
    color: #0c4366;
    transform: scale(1.09);
}
.pata{
    width: 100%;
    background: #BCE0F1;
}






/*------------ pro různé velikosti obrazovek ------*/

@media(max-width: 1700px){
 
    nav{
        position: relative;
        width: 100%;
        display:flex;
        padding-top: 1%;
        z-index: 1;
       
    
    }

    nav ul{
        position: relative;
        right:0;
        list-style: none;
        margin-top: 1%;
        width:67%;
        align-items: right;
    
    }
    nav ul li{
        margin-top: 2em;
        width: 140px;
        height: 30px;
        float:left;
        text-align: center;
        position:relative;
    }
    
    nav ul li a{
        width: 100%;
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        
    }
    nav ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #0580bf;
        display: block;
        margin: auto;
        padding-bottom: 0;
        transition: 0.5s;
    }
    nav ul li:hover::after{
        width: 100%;
        
    }
    nav ul ul{
        display: none;
        transition: 1s;
    }
    nav ul li:hover > ul{
        margin-top: 1px;
        display: block;
        
    }
    nav ul li:hover > ul li{
        margin-top: 1px;
        padding-top: 4px;
        width: 140px;
    
    }
    nav img{
        width: 400px;
        margin-top: 1%;
        
    }
    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .text-box h1{
        font-size: 45px;
    }
}
@media(max-width: 1370px){

    nav{
        position: relative;
        width: 100%;
        display:flex;
        padding-top: 1%;
        z-index: 1;
       
    
    }

    nav ul{
        position: relative;
        right:0;
        list-style: none;
        margin-top: 1%;
        margin-right: 0;
        width:67%;
        align-items: right;
    
    }
    nav ul li{
        margin-top: 2em;
        width: 110px;
        height: 30px;
        float:left;
        text-align: center;
        position:relative;
    }
    
    nav ul li a{
        width: 100%;
        color: #fff;
        text-decoration: none;
        font-size: .8rem;
        
    }
    nav ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #0580bf;
        display: block;
        margin: auto;
        padding-bottom: 0;
        transition: 0.5s;
    }
    nav ul li:hover::after{
        width: 100%;
        
    }
    nav ul ul{
        display: none;
        transition: 1s;
    }
    nav ul li:hover > ul{
        margin-top: 1px;
        display: block;
        
    }
    nav ul li:hover > ul li{
        margin-top: 1px;
        padding-top: 4px;
        width: 110px;
    
    }
    nav img{
        width: 340px;
        margin-top: 1%;
        
    }
    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .text-box h1{
        font-size: 41px;
    }
    .text-box p{
        margin: 8px 0 15px;
        font-size: 12px;
        color: #fff;
    }
    .text-box h5{
        margin: .75em 0 .64em;
        font-size: .9rem;
        color: #FF0000;
    }
}
@media(max-width: 1115px){

    nav{
        position: relative;
        width: 100%;
        display:flex;
        padding-top: .4%;
        z-index: 1;
       
    
    }

    nav ul{
        position: relative;
        right:0;
        list-style: none;
        margin-top: 0;
        margin-left: 1em;
        margin-right: 0;
        width:67%;
        align-items: right;
    
    }
    nav ul li{
        margin-top: 1.85em;
        width: 100px;
        height: 19px;
        float:left;
        text-align: center;
        position:relative;
    }
    
    nav ul li a{
        width: 100%;
        color: #fff;
        text-decoration: none;
        font-size: .68rem;
        
    }
    nav ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #0580bf;
        display: block;
        margin: auto;
        padding-bottom: 0;
        transition: 0.5s;
    }
    nav ul li:hover::after{
        width: 100%;
        
    }
    nav ul ul{
        display: none;
        transition: 1s;
    }
    nav ul li:hover > ul{
        margin-top: 1px;
        display: block;
        
    }
    nav ul li:hover > ul li{
        margin-top: 1px;
        padding-top: 4px;
        width: 100px;
    
    }
    nav img{
        width: 300px;
        margin-top: .75%;
        
    }
    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .text-box h1{
        font-size: 41px;
    }
    .text-box p{
        margin: 10px 0 15px;
        font-size: 12px;
        color: #fff;
    }
    .text-box h5{
        margin: .7em 0 .6em;
        font-size: .75rem;
        color: #FF0000;
    }
}

















/*------------ pro mobily ------*/


 @media(max-width: 960px){
    .text-box h1{
    font-size: 20px;
}
nav{
    position: fixed;
    margin-top: 0;

    padding-top: 0;

    align-items: center; 

   
    right:0;
    top:0;
    height: 100vh;
    background: #0580bf;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
 
}

nav img{
   display: none;
}
span img{
    display:inherit;
    opacity: 1;
    width: 250px;
    padding-top:.6em;
    padding-left:.5em ;
}



.text-box p{
    margin: 10px 0 20px;
    font-size: 14px;
    color: #fff;
}
.text-box h5{
    margin: .8em 0 .7em;
    font-size: .8rem;
    color: #FF0000;
}
nav ul{

    list-style: none;
    margin-top: 0.75em;
    width:100%;
    align-items: right;
    margin-left: 0;

}
nav ul li{
    margin-top: 1.5em;
    width: 100%;
    height: 1em;
    float:left;
    text-align: center;
    position:relative;
}
nav ul li a{
    position: absolute;
    height: 1em;
    width: 100%;
    display: block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.inv
{
    display: block;
}
.inv2
{
    display:none;
}
.novinky{
    flex-basis: 50%;
    background: #C2e5f3;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    margin-left: 2%;
    box-sizing: border-box;
    transition: 0.5s;
}
.menu
{
    opacity:1;
}
.close{
    opacity: 1;
}
}

.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 15px;
    width: 45px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: 2px solid #0072bc!important;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
    background: #0072bc!important;
}
